body{
  background: #eeedec;
  letter-spacing: .2em;
  font-size: .8em;

}
.container{
  max-width: 400px;

}

.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.image{
  max-height: 200px;
  margin-top: 8px;
}

.lower {

  margin-top: 70px;
}